<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <base href="<%= webpackConfig.output.publicPath %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlaskit - the official implementation for Atlassian Design Guidelines</title>
    <!-- Polyfills -->
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=es6,Array.prototype.includes"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
